    <p style="width: 800px">O Plotz foi desenvolvido como parte do trabalho de conclusão de curso do Mestrado Profissional em 
    Matemática em Rede Nacional - PROFMAT. Seu objetivo é servir de apoio para aulas de gráficos e funções.
    </p>
    <p>
    Aluno: Felipe Cavalcante da Rocha </p>
    <p>
    Orientador: Prof. Dr. Juscelino P. Silva </p>
  <p>Instituição: Universidade Federal do Cariri</p>
    
    
    <p>Contato: felipexcavalcante@gmail.com</p>
    <p>Críticas e Sugestões são sempre bem-vindas. Utilizar é o melhor elogio. </p>
    <p>Conte-nos brevemente sua experiência <a href="#">aqui</a>.</p>
    
    <div style="text-align: center">
  <img height="50px" src="http://www.ufca.edu.br/portal/documentos-online/guiasemanuais/2737-assinatura-vertical-principal/file"></img>
  <img height="50px" src="http://www.profmat-sbm.org.br/images/logo_profmat.png"></img>
</div>