@import url('https://fonts.googleapis.com/css?family=Arima+Madurai|Monoton|Poppins&subset=latin-ext');

body {
  /* background-color: #75b5a4;*//* #f3ceab;*/
  background-color: #F7F7ED;
}
p {
  font-family: 'Arima Madurai', cursive;
  color: #595757;
}
.tudo {
  /*padding-left: 1%;
  padding-right: 1%;*/
}

header, #content, nav, footer {
  margin: 0 auto;
/*  width: 930px;*/
  width: 62em;
  /*border: 1px solid blue;*/
}
.tudo {
/*  margin: 0 auto;
  width: 930px;*/
  background-color: #F7F7ED /*Beige*/;
  padding-left: 1%;
/*  border: 1px solid blue;
  background-color: cyan;
  height: 600px;
*/
}

#content {
  width: 62em;
  height: 26em;
  /*background-color: green;*/
  
}

.menu-container {
    background-color: #595757;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #595757;
}

#menu li {
    float: left;
    border-right:1px solid #595757;
}

#menu li:last-child {
    border-right: none;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1em;
}

#menu li a:hover:not(.active) {
/*    background-color: #75b5a4;*/
/*    background-color: #f15e5e;*/
    background-color: #feceab;
    color: #595757;
}

.active {
    background-color: #72B5A4;
}

h1 {
  font-family: 'Monoton', cursive;
  color: #72B5A4;
  padding-bottom: 0;
}

.subtitulo {
  margin-top: 0;
  margin-bottom: 10px;
}

a {
  color: #595757;
}